/* CONTAINER STYLES */

	#BVRRPullquoteHighlightContainer {clear: both;}
	.BVPullquoteWidgetContainer {border-top: 1px solid #DBDBDB; border-bottom: 1px solid #DBDBDB; padding: 18px 0;}

	/* Loading Graphic */
	.BVContentLoadingContainer {background: url(../images/bvLoading.gif) no-repeat center transparent !important; min-height: 50px;}
	.BVOverlayLoadingContainer {background: rgba(255,255,255,0.9) !important; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
	.BVOverlayLoadingContainer img {display: block; margin: 25px auto 0;}
	.BVOverlayLoadingContainer .BVLoadingText {display: block; margin: 10px auto 0; text-align: center;}



/* GENERAL */

	/* Font Styles */
	.BVUGCContainer {font-family: 'HelveticaNeueLTStd45Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif; font-size: 15px; color: #000; line-height: 1.5em;}

	/* Titles, Labels, Values */
	.BVLabel {}
	.BVValue {font-weight: bold;}



/* RATINGS */

	/* Overall Star Rating */
	.BVOverallRatingContainer {margin-bottom: 20px;}
	.BVOverallRatingContainer .BVRatingStarsContainer {min-width: 100px; height: auto; display: inline-block; vertical-align: middle;}


/* GENERAL UGC STYLES */

	/* Header - Rating, Pullquote */
	.BVUGCHeader {margin: 0;}

		/* Overall Rating */
		.BVUGCHeader .BVOverallRatingContainer {}
			.BVUGCHeader .BVRatingStarsContainer {width: 40%; min-width: 80px; max-width: 300px; display: inline-block; vertical-align: middle;}
		
	
	/* User Information - Avatar, Nickname, Location, Context Data, Badges */
	.BVUserDataContainer {}
		
		/* Nickname, Location, Context Data */
		.BVUserInfo {color: #000; display: block; margin-top: 15px;}
			.BVUserNicknameContainer, .BVUserLocationContainer {}
			.BVUserNicknameText {font-size: 22px; font-weight: normal;}
			.BVUserLocationContainer {font-size: 13px;}
				.BVUserLocationText {font-weight: bold;}



/* UGC */

	/* UGC Display */
	.BVUGCBodyContainer {}
		.BVUGCContainer {width: 42%; margin: 0 36px; display: inline-block; vertical-align: top;}



/* PULLQUOTES */
	.BVPullquotePrefix {display: inline-block; vertical-align: top; float: left;}
	h3.BVPullquoteText {margin: 0;}
	.BVPullquoteText, .BVPullquoteSuffix {color: #333333; font-size: 22px; font-weight: normal; line-height: 26px; display: inline;}

